DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=student_marks_portal

BV_SMTP_HOST=smtp.gmail.com
BV_SMTP_PORT=465
BV_SMTP_SECURE=ssl
BV_SMTP_USERNAME=yourgmail@gmail.com
BV_SMTP_PASSWORD=your_google_app_password
BV_SMTP_FROM_EMAIL=yourgmail@gmail.com
BV_SMTP_FROM_NAME=BrightVision Security
